<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:500,600,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/css/animate.css">

	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<link rel="stylesheet" href="/css/aos.css">

	<link rel="stylesheet" href="/css/ionicons.min.css">
	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/css/jquery.timepicker.css">
	<link rel="stylesheet" href="/css/flaticon.css">
	<link rel="stylesheet" href="/css/icomoon.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	
	<!-- END nav -->

	<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/about2.jpg');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate pb-5 text-center">
					<h2 class="mb-0 bread">Hakkımızda</h2>
					<p class="breadcrumbs"><span class="mr-2"><a href="Home/Index">Home <i class="ion-ios-arrow-round-forward"></i></a></span> <span>About <i class="ion-ios-arrow-round-forward"></i></span></p>
				</div>
			</div>
		</div>
	</section>

	<br/>
	<br/>
	<br />
	<br />





	<section class="ftco-section ftco-no-pb ftco-no-pt">
		<div class="container">
			<div class="row">
				<div class="col-md-6 d-flex">
					<div class="p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/h2.jpg);">
					</div>
				</div>
				<div class="col-md-6 py-md-5 pb-5 wrap-about pb-md-5 ftco-animate">
					<div class="heading-section mb-4 mt-md-5">
						<span class="subheading">About Us</span>
						<h2 class="mb-4">
							Ailemizin Kuaförlük Mirası: Geçmişten Geleceğe

						</h2>
					</div>
					<div class="pb-md-5">
						<p>
							Kuaförlük, sadece bir meslek değil, bizim için bir yaşam tarzı. Ailemin geçmişteki emeği, bugünkü vizyonumla birleşerek salonumuzda hayat buluyor. Anneannem, ilk adımlarını atarken, annem yıllarca saçlarını şekillendirerek, bu sanatı zirveye taşıdı. Şimdi ben de bu mirası, teknolojinin ve modern güzellik anlayışının sunduğu yeniliklerle harmanlayarak bir adım ileriye taşıyorum.

							Her müşteri, bizim için sadece bir ziyaretçi değil, bir aile üyesidir. Saçlarınıza gösterdiğimiz özen, hayatınıza kattığımız değerle birleşiyor. Yenilikçi bakımlar, kişisel danışmanlık ve aile sıcaklığıyla salonumuzda, sadece dış görünüşünüzü değil, ruhunuzu da güzelleştiriyoruz.

							Yılların verdiği tecrübeyle, her kesim ve bakımda mükemmeli hedefliyor, her zaman en iyisini sunuyoruz. Kuaförlük bizim için bir tutku ve biz bu tutkuyu, nesilden nesile aktarmaya devam ediyoruz. Amacımız, her bir müşterimizin salonumuzdan içeriye girdiği anda kendini özel hissetmesini sağlamak ve ona unutulmaz bir deneyim sunmaktır.

							Salonumuzda, sadece saçlara değil, aynı zamanda insana değer veriyoruz. Sizinle bu yolculukta bir arada olmak bizim için büyük bir mutluluk. Bizimle geçirdiğiniz her an, hayatınıza bir dokunuş katacak..
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>




	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/jquery.animateNumber.min.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/jquery.timepicker.min.js"></script>
	<script src="/js/scrollax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="/js/google-map.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>